BOT_TOKEN=

MONGO_DATABASE_NAME=telebotnotifications
MONGO_NOTIFICATIONS_COLLECTION=notifications
MONGO_USERS_COLLECTION=users
MONGO_LOGS_COLLECTION=logs

BOT_TIMEZONE=UTC

MONGO_URL=mongodb://mongo:27017
TEST_MONGO_URL=mongodb://localhost:27017
TEST_DB_NAME=mytestdb
TEST_MONGO_NOTIFICATIONS_COLLECTION=notifications_test
TEST_MONGO_USERS_COLLECTION=users_test



# MONGO_URL=mongodb://localhost:27017
